extends layout
block content
  h1 #{title}
  form(method='POST', action='/data/search')
    #form-group
      label Search log:
      input.form-control(name='search', type='text')
    input.btn.btn-primary(type='submit',value='Search')
  br
  ul.list-group
    each data in datares
      li.list-group-item
        a(href="/data/"+data._id)= data.title