.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form {
  width: 400px;
  height: 450px;
  margin: auto;
  position: relative;
}


h1 {
  text-align: center;
}